<link rel="stylesheet" href="/css/form.css">

<div class="container">

    <div class="heading"><h2>Forgot Password?</h2></div>

    <div class="form">
        <form action="/users/forgot-password" method="post">
            <div>
                <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
            </div>
            
            <input type="hidden" name="id" value="<%=user._id%>">
            
            
        
            <input type="submit" value="Send Password Reset Link" class="btn">
        </form>
    </div>
    
</div>

