<h2>Forgot Password</h2>

<%= user %>
<form action="/users/forgot-password" method="post">
    <label for="email">Email</label>
    <input type="hidden" name="id" value="<%=user._id%>">
    <input type="email" name="email" id="email" required>
    

    <input type="submit" value="Send Password Reset Link">
</form>