<link rel="stylesheet" href="/css/home.css">
<h1>Welcome to Authenticator</h1>

<% if(locals.user){ %>
    <p> <%= user.name %> </p>
    <a href="/users/sign-out">Log Out</a>
<% }else{ %>
    <a href="/users/sign-up">Register</a>
    <a href="/users/sign-in">Log In</a>
<% } %>



<!-- <div id="sign-up-form">
    <form>
        <label for="name">Name</label>
        <input type="text" name="name" required>
        
        <label for="email">Email</label>
        <input type="email" name="email" required>

        <label for="password">Password</label>
        <input type="password" name="password" required>

        <label for="confirm_password">Confirm Password</label>
        <input type="password" name="confirm_password" required>
        <input type="submit" value="Register">

    </form>

</div> -->