<link rel="stylesheet" href="/css/profile.css">


<% if(locals.user){ %>
    
    
<% } %>


<div id="profile-container" class="container">
    <div class="heading"><h2> Hello <%= user.name %></h2></div>
    <div class="verified"> <% if(user.isVerified){ %>
           Email Verified : Yes!
           <% }else{ %>
            Email Verified : No! 
            <br>
            Verification Link has been sent to your email id.
            <% } %>
    </div>
    <div id="links">
        <a href="/users/sign-out" class="signOut-btn">Sign Out</a>
        <a href="/users/forgot-password" class="fpass-btn">Forgot Password?</a>
        
    </div>
</div>