<link rel="stylesheet" href="/css/form.css">

<div class="container">

    <div class="heading"><h2>Reset Password</h2></div>
    <div class="form">
        <form action="/users/reset-password" method="post">
            <div>
                <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            </div>
            
            <div>
                <label for="confirm_password">Confirm Password</label>
            <input type="password" name="confirm_password" id="confirm_password" required>
            </div>
            
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="submit" value="Change Password" class="btn">
        </form>
    </div>
</div>

