<h2>Reset Password</h2>
<h2> <%= message %> </h2>
<form action="/users/reset-password" method="post">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    
    <label for="confirm_password">Confirm Password</label>
    <input type="password" name="confirm_password" id="confirm_password" required>
    <input type="hidden" name="id" value="<%= user._id %>">
    <input type="submit" value="Change Password">
</form>