<link rel="stylesheet" href="/css/home.css"/>
<h1>Inside sign in</h1>

<div id="sign-in-form">
  <form action="/users/create-session" method="post">
    <label for="email">Email</label>
    <input type="email" name="email" required />

    <label for="password">Password</label>
    <input type="password" name="password" required />

    <input type="submit" value="Login" />
  </form>
</div>

<a href="/users/auth/google">Sign In with Google!</a>
