<link rel="stylesheet" href="/css/home.css">
<h1>Inside sign-up</h1>

<div id="sign-up-form">
    <form action="/users/create" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" required>
        
        <label for="email">Email</label>
        <input type="email" name="email" required>

        <label for="password">Password</label>
        <input type="password" name="password" required>

        <label for="confirm_password">Confirm Password</label>
        <input type="password" name="confirm_password" required>
        <input type="submit" value="Register">

    </form>

</div>

<a href="/users/auth/google">Sign Up with Google!</a>