.container {
  border: 0.5px solid #717276;
  position: absolute;
  width: 30%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f7f7f7;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%; }
  .container .heading {
    color: #075353;
    font-size: 25px; }
  .container form {
    width: 100%; }
    .container form input {
      height: 25px; }
  .container .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%; }
    .container .form form {
      width: 100%; }
      .container .form form div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 8px;
        margin: 15px auto;
        width: 100%; }
        .container .form form div input {
          border: 2px solid #53c48b; }
      .container .form form .btn {
        width: 100%;
        margin: 10px 0;
        height: 35px;
        background-color: #ffd500;
        border-radius: 8px;
        border: 1px solid #6f6262; }
  .container .google-link {
    border: 1px solid #6f6262;
    width: 80%;
    margin: 10px auto;
    height: 35px;
    text-align: center;
    background-color: #53c48b;
    color: black;
    border-radius: 8px;
    line-height: 30px; }
  .container a {
    text-decoration: none;
    color: black;
    padding: 10px;
    height: 30px; }
  .container a:hover {
    color: darkblue; }
