#home-container {
  border: 0.5px solid #717276;
  position: absolute;
  width: 30%;
  height: 55%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f7f7f7;
  border-radius: 8px; }
  #home-container .heading {
    text-align: center; }
  #home-container .img-div {
    text-align: center; }
    #home-container .img-div img {
      height: 150px; }
  #home-container #buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    #home-container #buttons a {
      text-decoration: none;
      color: black; }
    #home-container #buttons .btn {
      width: 80%;
      border: 0.5px solid #6f6262;
      margin: 10px;
      padding: 10px;
      text-align: center;
      font-size: 20px;
      border-radius: 8px; }
    #home-container #buttons .signUp-btn {
      background-color: #ffd500; }
    #home-container #buttons .logIn-btn {
      background-color: #2dc8f5; }
